# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Django
*.sqlite3
db.sqlite3
.env
media/

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
