{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Field Manual Admin{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}">Field Manual <span class="fm-admin-tag">Admin</span></a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zilla+Slab:wght@500;600&family=Work+Sans:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'admin/css/field_manual_admin.css' %}">
{% endblock %}
